@page
@model IndexModel

@using MueniCrafts.Components;

@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    <h1 class="display-4">Mueni Crafts</h1>
    <p>Building with ASP.NET Core.</p>
</div>


@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>
